.humburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  font-size: 22px;
  color: #fff;
  margin-left: auto;
}

.amount {
  min-width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 21px;
  line-height: 31px;
  padding: 0 5px;
  text-align: center;
}

.footer {
  position: fixed;
  background: #fafafa;
  padding: 13px 0;
  bottom: 0;
  left: 0;
  width: 100%;
  line-height: 32px;
}

.login-form {
  margin: 0 auto;
  width: 100%;
  max-width: 749px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}
