.humburger {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  font-size: 22px;
  color: #fff;
  margin-left: auto;
}

.logo {
  min-width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  font-size: 21px;
  line-height: 31px;
  padding: 0 5px;
  text-align: center;
}
